{
    "openapi": "3.1.0",
    "info": {
        "title": "Meeting BaaS API",
        "summary": "API for recording and transcribing video meetings across Zoom, Google Meet, and Microsoft Teams. Features include bot management, calendar integration, and transcription services.",
        "description": "Meeting BaaS API",
        "termsOfService": "https://meetingbaas.com/terms-and-conditions",
        "version": "1.1"
    },
    "servers": [
        {
            "url": "https://api.meetingbaas.com",
            "description": "Production server"
        }
    ],
    "paths": {
        "/bots/": {
            "post": {
                "summary": "Join",
                "description": "Have a bot join a meeting, now or in the future. You can provide a `webhook_url` parameter to receive webhook events specific to this bot, overriding your account's default webhook URL. Events include recording completion, failures, and transcription updates.",
                "operationId": "join",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/JoinRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/JoinResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/bots/{uuid}": {
            "delete": {
                "summary": "Leave",
                "description": "Leave",
                "operationId": "leave",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LeaveResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/bots/meeting_data": {
            "get": {
                "summary": "Get Meeting Data",
                "description": "Get meeting recording and metadata",
                "operationId": "get_meeting_data",
                "parameters": [
                    {
                        "in": "query",
                        "name": "bot_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "include_transcripts",
                        "description": "Whether to include transcription data in the response. Defaults to true if not specified.",
                        "schema": {
                            "description": "Whether to include transcription data in the response. Defaults to true if not specified.",
                            "default": true,
                            "type": "boolean"
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Metadata"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/bots/{uuid}/delete_data": {
            "post": {
                "summary": "Delete Data",
                "description": "Deletes a bot's data including recording, transcription, and logs. Only metadata is retained. Rate limited to 5 requests per minute per API key.",
                "operationId": "delete_data",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DeleteResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "no content"
                    },
                    "403": {
                        "description": "no content"
                    },
                    "404": {
                        "description": "no content"
                    },
                    "429": {
                        "description": "no content"
                    }
                }
            }
        },
        "/bots/bots_with_metadata": {
            "get": {
                "summary": "List Bots with Metadata",
                "description": "Retrieves a paginated list of the user's bots with essential metadata, including IDs, names, and meeting details. Supports filtering, sorting, and advanced querying options.",
                "operationId": "bots_with_metadata",
                "parameters": [
                    {
                        "in": "query",
                        "name": "bot_name",
                        "description": "Filter bots by name containing this string.\n\nPerforms a case-insensitive partial match on the bot's name. Useful for finding bots with specific naming conventions or to locate a particular bot when you don't have its ID.\n\nExample: \"Sales\" would match \"Sales Meeting\", \"Quarterly Sales\", etc.",
                        "schema": {
                            "description": "Filter bots by name containing this string.\n\nPerforms a case-insensitive partial match on the bot's name. Useful for finding bots with specific naming conventions or to locate a particular bot when you don't have its ID.\n\nExample: \"Sales\" would match \"Sales Meeting\", \"Quarterly Sales\", etc.",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "created_after",
                        "description": "Filter bots created after this date (ISO format).\n\nLimits results to bots created at or after the specified timestamp. Used for time-based filtering to find recent additions.\n\nFormat: ISO-8601 date-time string (YYYY-MM-DDThh:mm:ss) Example: \"2023-05-01T00:00:00\"",
                        "schema": {
                            "description": "Filter bots created after this date (ISO format).\n\nLimits results to bots created at or after the specified timestamp. Used for time-based filtering to find recent additions.\n\nFormat: ISO-8601 date-time string (YYYY-MM-DDThh:mm:ss) Example: \"2023-05-01T00:00:00\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "created_before",
                        "description": "Filter bots created before this date (ISO format).\n\nLimits results to bots created at or before the specified timestamp. Used for time-based filtering to exclude recent additions.\n\nFormat: ISO-8601 date-time string (YYYY-MM-DDThh:mm:ss) Example: \"2023-05-31T23:59:59\"",
                        "schema": {
                            "description": "Filter bots created before this date (ISO format).\n\nLimits results to bots created at or before the specified timestamp. Used for time-based filtering to exclude recent additions.\n\nFormat: ISO-8601 date-time string (YYYY-MM-DDThh:mm:ss) Example: \"2023-05-31T23:59:59\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "cursor",
                        "description": "Cursor for pagination, obtained from previous response.\n\nUsed for retrieving the next set of results after a previous call. The cursor value is returned in the `nextCursor` field of responses that have additional results available.\n\nFormat: Base64-encoded string containing pagination metadata",
                        "schema": {
                            "description": "Cursor for pagination, obtained from previous response.\n\nUsed for retrieving the next set of results after a previous call. The cursor value is returned in the `nextCursor` field of responses that have additional results available.\n\nFormat: Base64-encoded string containing pagination metadata",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "ended_after",
                        "description": "Filter bots ended after this date (ISO format).\n\nLimits results to bots that ended at or after the specified timestamp. Useful for finding completed meetings within a specific time period.\n\nFormat: ISO-8601 date-time string (YYYY-MM-DDThh:mm:ss) Example: \"2023-05-01T00:00:00\"",
                        "schema": {
                            "description": "Filter bots ended after this date (ISO format).\n\nLimits results to bots that ended at or after the specified timestamp. Useful for finding completed meetings within a specific time period.\n\nFormat: ISO-8601 date-time string (YYYY-MM-DDThh:mm:ss) Example: \"2023-05-01T00:00:00\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "filter_by_extra",
                        "description": "Filter bots by matching values in the extra JSON payload.\n\nThis parameter performs in-memory filtering on the `extra` JSON field, similar to a SQL WHERE clause. It reduces the result set to only include bots that match all specified conditions.\n\nFormat specifications: - Single condition: \"field:value\" - Multiple conditions: \"field1:value1,field2:value2\"\n\nExamples: - \"customer_id:12345\" - Only bots with this customer ID - \"status:active,project:sales\" - Only active bots from sales projects\n\nNotes: - All conditions must match for a bot to be included - Values are matched exactly (case-sensitive) - Bots without the specified field are excluded",
                        "schema": {
                            "description": "Filter bots by matching values in the extra JSON payload.\n\nThis parameter performs in-memory filtering on the `extra` JSON field, similar to a SQL WHERE clause. It reduces the result set to only include bots that match all specified conditions.\n\nFormat specifications: - Single condition: \"field:value\" - Multiple conditions: \"field1:value1,field2:value2\"\n\nExamples: - \"customer_id:12345\" - Only bots with this customer ID - \"status:active,project:sales\" - Only active bots from sales projects\n\nNotes: - All conditions must match for a bot to be included - Values are matched exactly (case-sensitive) - Bots without the specified field are excluded",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "Maximum number of bots to return in a single request.\n\nLimits the number of results returned in a single API call. This parameter helps control response size and page length.\n\nDefault: 10 Minimum: 1 Maximum: 50",
                        "schema": {
                            "description": "Maximum number of bots to return in a single request.\n\nLimits the number of results returned in a single API call. This parameter helps control response size and page length.\n\nDefault: 10 Minimum: 1 Maximum: 50",
                            "default": 10,
                            "type": "integer",
                            "format": "int32"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "meeting_url",
                        "description": "Filter bots by meeting URL containing this string.\n\nPerforms a case-insensitive partial match on the bot's meeting URL. Use this to find bots associated with specific meeting platforms or particular meeting IDs.\n\nExample: \"zoom.us\" would match all Zoom meetings",
                        "schema": {
                            "description": "Filter bots by meeting URL containing this string.\n\nPerforms a case-insensitive partial match on the bot's meeting URL. Use this to find bots associated with specific meeting platforms or particular meeting IDs.\n\nExample: \"zoom.us\" would match all Zoom meetings",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "sort_by_extra",
                        "description": "Sort the results by a field in the extra JSON payload.\n\nThis parameter performs in-memory sorting on the `extra` JSON field, similar to a SQL ORDER BY clause. It changes the order of results but not which results are included.\n\nFormat specifications: - Default (ascending): \"field\" - Explicit direction: \"field:asc\" or \"field:desc\"\n\nExamples: - \"customer_id\" - Sort by customer_id (ascending) - \"priority:desc\" - Sort by priority (descending)\n\nNotes: - Applied after all filtering - String comparison is used for sorting - Bots with the field come before bots without it - Can be combined with filter_by_extra",
                        "schema": {
                            "description": "Sort the results by a field in the extra JSON payload.\n\nThis parameter performs in-memory sorting on the `extra` JSON field, similar to a SQL ORDER BY clause. It changes the order of results but not which results are included.\n\nFormat specifications: - Default (ascending): \"field\" - Explicit direction: \"field:asc\" or \"field:desc\"\n\nExamples: - \"customer_id\" - Sort by customer_id (ascending) - \"priority:desc\" - Sort by priority (descending)\n\nNotes: - Applied after all filtering - String comparison is used for sorting - Bots with the field come before bots without it - Can be combined with filter_by_extra",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "speaker_name",
                        "description": "NOTE: this is a preview feature and not yet available\n\nFilter bots by speaker name containing this string.\n\nPerforms a case-insensitive partial match on the speakers in the meeting. Useful for finding meetings that included a specific person.\n\nExample: \"John\" would match meetings with speakers like \"John Smith\" or \"John Doe\"",
                        "schema": {
                            "description": "NOTE: this is a preview feature and not yet available\n\nFilter bots by speaker name containing this string.\n\nPerforms a case-insensitive partial match on the speakers in the meeting. Useful for finding meetings that included a specific person.\n\nExample: \"John\" would match meetings with speakers like \"John Smith\" or \"John Doe\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListRecentBotsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/bots/retranscribe": {
            "post": {
                "summary": "Retranscribe Bot",
                "description": "Transcribe or retranscribe a bot's audio using the Default or your provided Speech to Text Provider",
                "operationId": "retranscribe_bot",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RetranscribeBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "description"
                    },
                    "202": {
                        "description": "no content"
                    }
                }
            }
        },
        "/bots/{uuid}/screenshots": {
            "get": {
                "summary": "Get Screenshots",
                "description": "Retrieves screenshots captured during the bot's session",
                "operationId": "get_screenshots",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScreenshotsList"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/bots/webhooks": {
            "get": {
                "tags": [
                    "Webhooks"
                ],
                "summary": "Webhook Events Documentation",
                "description": "Meeting BaaS sends webhook events to your configured webhook URL when specific events occur.\n\n## Webhook Event Types\n\n### 1. `complete`\nSent when a bot successfully completes recording a meeting. Contains full transcription data and a link to the recording.\n```json\n{\n  \\\"event\\\": \\\"complete\\\",\n  \\\"data\\\": {\n    \\\"bot_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\",\n    \\\"event_uuid\\\": \\\"123e4567-e89b-12d3-a456-426614174001\\\",\n    \\\"transcript\\\": [\n      {\n        \\\"speaker\\\": \\\"John Doe\\\",\n        \\\"offset\\\": 1.5,\n        \\\"start_time\\\": 1.5,\n        \\\"end_time\\\": 2.4,\n        \\\"words\\\": [\n          {\n            \\\"start\\\": 1.5,\n            \\\"end\\\": 1.9,\n            \\\"word\\\": \\\"Hello\\\"\n          },\n          {\n            \\\"start\\\": 2.0,\n            \\\"end\\\": 2.4,\n            \\\"word\\\": \\\"everyone\\\"\n          }\n        ]\n      }\n    ],\n    \\\"speakers\\\": [\n      \\\"Jane Smith\\\",\n      \\\"John Doe\\\"\n    ],\n    \\\"mp4\\\": \\\"https://storage.example.com/recordings/video123.mp4?token=abc\\\",\n    \\\"audio\\\": \\\"https://storage.example.com/recordings/audio123.wav?token=abc\\\",\n    \\\"event\\\": \\\"complete\\\",\n    \\\"extra\\\": {\n      \\\"foo\\\": \\\"bar\\\"\n    }\n  }\n}\n```\n\nThe `complete` event includes:\n- **bot_id**: Unique identifier for the bot that completed recording\n- **event_uuid**: UUID of the calendar event (if this bot was created from an event)\n- **speakers**: A set of speaker names identified in the meeting\n- **transcript**: Full transcript data with speaker identification and word timing\n- **mp4**: URL to the recording file (valid for 24 hours by default)\n- **event**: Event type identifier (\"complete\")\n\n### 2. `failed`\nSent when a bot fails to join or record a meeting. Contains error details.\n```json\n{\n  \\\"event\\\": \\\"failed\\\",\n  \\\"data\\\": {\n    \\\"bot_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\",\n    \\\"event_uuid\\\": \\\"123e4567-e89b-12d3-a456-426614174001\\\",\n    \\\"error\\\": \\\"meeting_not_found\\\",\n    \\\"message\\\": \\\"Could not join meeting: The meeting ID was not found or has expired\\\",\n    \\\"extra\\\": {\n      \\\"foo\\\": \\\"bar\\\"\n    }\n  }\n}\n```\n\nThe `failed` event includes:\n- **bot_id**: Unique identifier for the bot that failed\n- **event_uuid**: UUID of the calendar event (if this bot was created from an event)\n- **error**: Error code identifying the type of failure\n- **message**: Detailed human-readable error message\n\nCommon error types include:\n- `meeting_not_found`: The meeting ID or link was invalid or expired\n- `access_denied`: The bot was denied access to the meeting\n- `authentication_error`: Failed to authenticate with the meeting platform\n- `network_error`: Network connectivity issues during recording\n- `internal_error`: Internal server error\n\n### 3. `calendar.sync_events`\nSent when calendar events are synced. Contains information about which events were updated.\n```json\n{\n  \\\"event\\\": \\\"calendar.sync_events\\\",\n  \\\"data\\\": {\n    \\\"calendar_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\",\n    \\\"last_updated_ts\\\": \\\"2023-05-01T12:00:00Z\\\",\n    \\\"affected_event_uuids\\\": [\n      \\\"123e4567-e89b-12d3-a456-426614174001\\\",\n      \\\"123e4567-e89b-12d3-a456-426614174002\\\"\n    ]\n  }\n}\n```\n\nThe `calendar.sync_events` event includes:\n- **calendar_id**: UUID of the calendar that was synced\n- **last_updated_ts**: ISO-8601 timestamp of when the sync occurred\n- **affected_event_uuids**: Array of UUIDs for calendar events that were added, updated, or deleted\n\nThis event is triggered when:\n- Calendar data is synced with the external provider (Google, Microsoft)\n- Multiple events may be created, updated, or deleted in a single sync operation\n- Use this event to update your local cache of calendar events\n\n### 4. `transcription_complete`\nSent when transcription is completed separately from recording (e.g., after retranscribing).\n```json\n{\n  \\\"event\\\": \\\"transcription_complete\\\",\n  \\\"data\\\": {\n    \\\"bot_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\"\n  }\n}\n```\n\nThe `transcription_complete` event includes:\n- **bot_id**: Unique identifier for the bot with the completed transcription\n\nThis event is sent when:\n- You request a retranscription via the `/bots/retranscribe` endpoint\n- An asynchronous transcription process completes after the recording has ended\n\n## Setting Up Webhooks\n\nYou can configure webhooks in two ways:\n1. **Account-level webhook URL**: Set a default webhook URL for all bots in your account using the `/accounts/webhook_url` endpoint\n2. **Bot-specific webhook URL**: Provide a `webhook_url` parameter when creating a bot with the `/bots` endpoint\n\nYour webhook endpoint must:\n- Accept POST requests with JSON payload\n- Return a 2xx status code to acknowledge receipt\n- Process requests within 10 seconds to avoid timeouts\n- Handle each event type appropriately based on the event type\n\nAll webhook requests include:\n- `x-meeting-baas-api-key` header with your API key for verification\n- `content-type: application/json` header\n- JSON body containing the event details\n\n## Webhook Reliability\n\nIf your endpoint fails to respond or returns an error, the system will attempt to retry the webhook delivery. For critical events, we recommend implementing:\n\n- Idempotency handling to prevent duplicate processing of the same event\n- Proper logging of webhook receipts for audit purposes\n- Asynchronous processing to quickly acknowledge receipt before handling the event data\n\nFor security, always validate the API key in the `x-meeting-baas-api-key` header matches your API key.",
                "operationId": "webhook_documentation",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/bots/webhooks/bot": {
            "get": {
                "tags": [
                    "Webhooks"
                ],
                "summary": "Bot Webhook Events Documentation",
                "description": "Meeting BaaS sends the following webhook events related to bot recordings.\n\n## Bot Webhook Event Types\n\n### 1. `complete`\nSent when a bot successfully completes recording a meeting.\n\n**Payload Structure:**\n```json\n{\n  \\\"event\\\": \\\"complete\\\",\n  \\\"data\\\": {\n    \\\"bot_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\",\n    \\\"event_uuid\\\": \\\"123e4567-e89b-12d3-a456-426614174001\\\",\n    \\\"transcript\\\": [\n      {\n        \\\"speaker\\\": \\\"John Doe\\\",\n        \\\"offset\\\": 1.5,\n        \\\"start_time\\\": 1.5,\n        \\\"end_time\\\": 2.4,\n        \\\"words\\\": [\n          {\n            \\\"start\\\": 1.5,\n            \\\"end\\\": 1.9,\n            \\\"word\\\": \\\"Hello\\\"\n          },\n          {\n            \\\"start\\\": 2.0,\n            \\\"end\\\": 2.4,\n            \\\"word\\\": \\\"everyone\\\"\n          }\n        ]\n      }\n    ],\n    \\\"speakers\\\": [\n      \\\"Jane Smith\\\",\n      \\\"John Doe\\\"\n    ],\n    \\\"mp4\\\": \\\"https://storage.example.com/recordings/video123.mp4?token=abc\\\",\n    \\\"audio\\\": \\\"https://storage.example.com/recordings/audio123.wav?token=abc\\\",\n    \\\"event\\\": \\\"complete\\\",\n    \\\"extra\\\": {\n      \\\"foo\\\": \\\"bar\\\"\n    }\n  }\n}\n```\n\n**When it's triggered:**\n- After a bot successfully records and processes a meeting\n- After the recording is uploaded and made available\n- When all processing of the meeting recording is complete\n\n**What to do with it:**\n- Download the MP4 recording for storage in your system\n- Store the transcript data in your database\n- Update meeting status in your application\n- Notify users that the recording is available\n- Use `event_uuid` to correlate with calendar events (if applicable)\n\n### 2. `failed`\nSent when a bot fails to join or record a meeting.\n\n**Payload Structure:**\n```json\n{\n  \\\"event\\\": \\\"failed\\\",\n  \\\"data\\\": {\n    \\\"bot_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\",\n    \\\"event_uuid\\\": \\\"123e4567-e89b-12d3-a456-426614174001\\\",\n    \\\"error\\\": \\\"meeting_not_found\\\",\n    \\\"message\\\": \\\"Could not join meeting: The meeting ID was not found or has expired\\\",\n    \\\"extra\\\": {\n      \\\"foo\\\": \\\"bar\\\"\n    }\n  }\n}\n```\n\n**Common error types:**\n- `meeting_not_found`: The meeting ID or link was invalid or expired\n- `access_denied`: The bot was denied access to the meeting\n- `authentication_error`: Failed to authenticate with the meeting platform\n- `network_error`: Network connectivity issues during recording\n- `internal_error`: Internal server error\n\n**What to do with it:**\n- Log the failure for troubleshooting\n- Notify administrators or users about the failed recording\n- Attempt to reschedule if appropriate\n- Update meeting status in your system\n- Use `event_uuid` to correlate with calendar events (if applicable)\n\n### 3. `transcription_complete`\nSent when transcription is completed separately from recording.\n\n**Payload Structure:**\n```json\n{\n  \\\"event\\\": \\\"transcription_complete\\\",\n  \\\"data\\\": {\n    \\\"bot_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\"\n  }\n}\n```\n\n**When it's triggered:**\n- After requesting retranscription via the API\n- When an asynchronous transcription job completes\n- When a higher quality or different language transcription becomes available\n\n**What to do with it:**\n- Update the transcript data in your system\n- Notify users that improved transcription is available\n- Run any post-processing on the new transcript data\n\n## Webhook Usage Tips\n\n- Each event includes the `bot_id` so you can correlate with your internal data\n- The `event_uuid` field is included when the bot was created from a calendar event (null for direct bots or scheduled bots)\n- The complete event includes speaker identification and full transcript data\n- For downloading recordings, the mp4 URL is valid for 24 hours\n- Handle the webhook asynchronously and return 200 OK quickly to prevent timeouts\n\nFor security, always validate the API key in the `x-meeting-baas-api-key` header matches your API key.",
                "operationId": "bot_webhook_documentation",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/bots/webhooks/calendar": {
            "get": {
                "tags": [
                    "Webhooks"
                ],
                "summary": "Calendar Webhook Events Documentation",
                "description": "Meeting BaaS sends the following webhook events related to calendar integrations.\n\n## Calendar Webhook Event Types\n\n### 1. `calendar.sync_events`\nSent when calendar events are synced with external providers.\n\n**Payload Structure:**\n```json\n{\n  \\\"event\\\": \\\"calendar.sync_events\\\",\n  \\\"data\\\": {\n    \\\"calendar_id\\\": \\\"123e4567-e89b-12d3-a456-426614174000\\\",\n    \\\"last_updated_ts\\\": \\\"2023-05-01T12:00:00Z\\\",\n    \\\"affected_event_uuids\\\": [\n      \\\"123e4567-e89b-12d3-a456-426614174001\\\",\n      \\\"123e4567-e89b-12d3-a456-426614174002\\\"\n    ]\n  }\n}\n```\n\n**When it's triggered:**\n- After initial calendar connection is established\n- When external calendar providers (Google, Microsoft) send change notifications\n- After manual calendar resync operations\n- During scheduled periodic syncs\n- When events are created, updated, or deleted in the source calendar\n\n**What to do with it:**\n- Update your local copy of calendar events\n- Process any new events that match your criteria\n- Remove any deleted events from your system\n- Update schedules for any modified events\n- Refresh your UI to show the latest calendar data\n\n**Field details:**\n- `calendar_id`: The UUID of the synchronized calendar\n- `last_updated_ts`: ISO-8601 timestamp when the sync occurred\n- `affected_event_uuids**: Array of UUIDs for events that were changed\n\n## Integration with Meeting BaaS Calendar API\n\nAfter receiving a calendar webhook event, you can:\n1. Use the `/calendar_events` endpoint to retrieve detailed information about specific events\n2. Use the `/calendars/:uuid` endpoint to get calendar metadata\n3. Schedule recording bots for any new meetings with the `/calendar_events/:uuid/bot` endpoint\n\n## Webhook Usage Tips\n\n- Each event includes affected event UUIDs for efficient processing\n- You don't need to retrieve all calendar events - just process the changed ones\n- The timestamp helps determine the sequence of updates\n- For high-frequency calendars, consider batch processing of multiple events\n\nFor security, always validate the API key in the `x-meeting-baas-api-key` header matches your API key.",
                "operationId": "calendar_webhook_documentation",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/calendars/raw": {
            "post": {
                "tags": [
                    "Calendars"
                ],
                "summary": "List Raw Calendars",
                "description": "Retrieves unprocessed calendar data directly from the provider (Google, Microsoft) using provided OAuth credentials. This endpoint is typically used during the initial setup process to allow users to select which calendars to integrate. Returns a list of available calendars with their unique IDs, email addresses, and primary status. This data is not persisted until a calendar is formally created using the create_calendar endpoint.",
                "operationId": "list_raw_calendars",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListRawCalendarsParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListRawCalendarsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calendars/": {
            "get": {
                "tags": [
                    "Calendars"
                ],
                "summary": "List Calendars",
                "description": "Retrieves all calendars that have been integrated with the system for the authenticated user. Returns a list of calendars with their names, email addresses, provider information, and sync status. This endpoint shows only calendars that have been formally connected through the create_calendar endpoint, not all available calendars from the provider.",
                "operationId": "list_calendars",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Calendar"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Create Calendar",
                "description": "Integrates a new calendar with the system using OAuth credentials. This endpoint establishes a connection with the calendar provider (Google, Microsoft), sets up webhook notifications for real-time updates, and performs an initial sync of all calendar events. It requires OAuth credentials (client ID, client secret, and refresh token) and the platform type. Once created, the calendar is assigned a unique UUID that should be used for all subsequent operations. Returns the newly created calendar object with all integration details.",
                "operationId": "create_calendar",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCalendarParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateCalendarResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calendars/resync_all": {
            "post": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Resync All Calendars",
                "description": "Forces a sync of all your connected calendars with their providers (Google, Microsoft).\n\nProcesses each calendar individually and returns:\n- `synced_calendars`: UUIDs of successfully synced calendars\n- `errors`: Details of any failures\n\nSends webhook notifications for calendars with updates.",
                "operationId": "resync_all_calendars",
                "parameters": [
                    {
                        "in": "query",
                        "name": "days",
                        "description": "Number of days to sync forward (default: 30 for rolling window)",
                        "schema": {
                            "description": "Number of days to sync forward (default: 30 for rolling window)",
                            "type": [
                                "integer",
                                "null"
                            ],
                            "format": "int32"
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResyncAllCalendarsResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calendars/{uuid}": {
            "get": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Get Calendar",
                "description": "Retrieves detailed information about a specific calendar integration by its UUID. Returns comprehensive calendar data including the calendar name, email address, provider details (Google, Microsoft), sync status, and other metadata. This endpoint is useful for displaying calendar information to users or verifying the status of a calendar integration before performing operations on its events.",
                "operationId": "get_calendar",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Calendar"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Delete Calendar",
                "description": "Permanently removes a calendar integration by its UUID, including all associated events and bot configurations. This operation cancels any active subscriptions with the calendar provider, stops all webhook notifications, and unschedules any pending recordings. All related resources are cleaned up in the database. This action cannot be undone, and subsequent requests to this calendar's UUID will return 404 Not Found errors.",
                "operationId": "delete_calendar",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "no content"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Update Calendar",
                "description": "Updates a calendar integration with new credentials or platform while maintaining the same UUID. This operation is performed as an atomic transaction to ensure data integrity. The system automatically unschedules existing bots to prevent duplicates, updates the calendar credentials, and triggers a full resync of all events. Useful when OAuth tokens need to be refreshed or when migrating a calendar between providers. Returns the updated calendar object with its new configuration.",
                "operationId": "update_calendar",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCalendarParams"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateCalendarResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calendar_events/{uuid}": {
            "get": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Get Event",
                "description": "Retrieves comprehensive details about a specific calendar event by its UUID. Returns complete event information including title, meeting link, start and end times, organizer status, recurrence information, and the full list of attendees with their names and email addresses. Also includes any associated bot parameters if recording is scheduled for this event. The raw calendar data from the provider is also included for advanced use cases.",
                "operationId": "get_event",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Event"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calendar_events/{uuid}/bot": {
            "post": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Schedule Record Event",
                "description": "Configures a bot to automatically join and record a specific calendar event at its scheduled time. The UUID in the request path is the event UUID. The request body contains detailed bot configuration, including recording options, streaming settings, and webhook notification URLs. For recurring events, the 'all_occurrences' parameter can be set to true to schedule recording for all instances of the recurring series, or false (default) to schedule only the specific instance. Returns the updated event(s) with the bot parameters attached.",
                "operationId": "schedule_record_event",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "query",
                        "name": "all_occurrences",
                        "description": "schedule a bot to all occurences of a recurring event",
                        "schema": {
                            "description": "schedule a bot to all occurences of a recurring event",
                            "type": [
                                "boolean",
                                "null"
                            ]
                        },
                        "style": "form"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BotParam2"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Unschedule Record Event",
                "description": "Cancels a previously scheduled recording for a calendar event and releases associated bot resources. For recurring events, the 'all_occurrences' parameter controls whether to unschedule from all instances of the recurring series or just the specific occurrence. This operation is idempotent and will not error if no bot was scheduled. Returns the updated event(s) with the bot parameters removed.",
                "operationId": "unschedule_record_event",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "query",
                        "name": "all_occurrences",
                        "description": "unschedule a bot from all occurences of a recurring event",
                        "schema": {
                            "description": "unschedule a bot from all occurences of a recurring event",
                            "type": [
                                "boolean",
                                "null"
                            ]
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Calendars"
                ],
                "summary": "Patch Bot",
                "description": "Updates the configuration of a bot already scheduled to record an event. Allows modification of recording settings, webhook URLs, and other bot parameters without canceling and recreating the scheduled recording. For recurring events, the 'all_occurrences' parameter determines whether changes apply to all instances or just the specific occurrence. Returns the updated event(s) with the modified bot parameters.",
                "operationId": "patch_bot",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    },
                    {
                        "in": "query",
                        "name": "all_occurrences",
                        "description": "schedule a bot to all occurences of a recurring event",
                        "schema": {
                            "description": "schedule a bot to all occurences of a recurring event",
                            "type": [
                                "boolean",
                                "null"
                            ]
                        },
                        "style": "form"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BotParam3"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Event"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/calendar_events/": {
            "get": {
                "tags": [
                    "Calendars"
                ],
                "summary": "List Events",
                "description": "Retrieves a paginated list of calendar events with comprehensive filtering options. Supports filtering by organizer email, attendee email, date ranges (start_date_gte, start_date_lte), and event status. Results can be limited to upcoming events (default), past events, or all events. Each event includes full details such as meeting links, participants, and recording status. The response includes a 'next' pagination cursor for retrieving additional results.",
                "operationId": "list_events",
                "parameters": [
                    {
                        "in": "query",
                        "name": "attendee_email",
                        "description": "If provided, filters events to include only those with this attendee's email address Example: \"jane.smith@example.com\"",
                        "schema": {
                            "description": "If provided, filters events to include only those with this attendee's email address Example: \"jane.smith@example.com\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "calendar_id",
                        "description": "Calendar ID to filter events by This is required to specify which calendar's events to retrieve",
                        "required": true,
                        "schema": {
                            "description": "Calendar ID to filter events by This is required to specify which calendar's events to retrieve",
                            "type": "string"
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "cursor",
                        "description": "Optional cursor for pagination This value is included in the `next` field of the previous response",
                        "schema": {
                            "description": "Optional cursor for pagination This value is included in the `next` field of the previous response",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "organizer_email",
                        "description": "If provided, filters events to include only those with this organizer's email address Example: \"john.doe@example.com\"",
                        "schema": {
                            "description": "If provided, filters events to include only those with this organizer's email address Example: \"john.doe@example.com\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "start_date_gte",
                        "description": "If provided, filters events to include only those with a start date greater than or equal to this timestamp Format: ISO-8601 string, e.g., \"2023-01-01T00:00:00Z\"",
                        "schema": {
                            "description": "If provided, filters events to include only those with a start date greater than or equal to this timestamp Format: ISO-8601 string, e.g., \"2023-01-01T00:00:00Z\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "start_date_lte",
                        "description": "If provided, filters events to include only those with a start date less than or equal to this timestamp Format: ISO-8601 string, e.g., \"2023-12-31T23:59:59Z\"",
                        "schema": {
                            "description": "If provided, filters events to include only those with a start date less than or equal to this timestamp Format: ISO-8601 string, e.g., \"2023-12-31T23:59:59Z\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "status",
                        "description": "Filter events by meeting status Valid values: \"upcoming\" (default) returns events after current time, \"past\" returns previous events, \"all\" returns both",
                        "schema": {
                            "description": "Filter events by meeting status Valid values: \"upcoming\" (default) returns events after current time, \"past\" returns previous events, \"all\" returns both",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    },
                    {
                        "in": "query",
                        "name": "updated_at_gte",
                        "description": "If provided, fetches only events updated at or after this timestamp Format: ISO-8601 string, e.g., \"2023-01-01T00:00:00Z\"",
                        "schema": {
                            "description": "If provided, fetches only events updated at or after this timestamp Format: ISO-8601 string, e.g., \"2023-01-01T00:00:00Z\"",
                            "type": [
                                "string",
                                "null"
                            ]
                        },
                        "style": "form"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListEventResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/zoom_oauth_connections/": {
            "get": {
                "tags": [
                    "Zoom OAuth"
                ],
                "summary": "List Zoom OAuth Connections",
                "description": "Retrieves all Zoom OAuth connections associated with the authenticated account. Each connection represents a Zoom user who has authorized your app via OAuth. Use this to display connected users or to find the `zoom_user_id` needed for the `zoom_obf_token_user_id` bot parameter. Sensitive token data is never included in the response.",
                "operationId": "list_zoom_oauth_connections",
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ZoomOAuthConnectionResponse"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Zoom OAuth"
                ],
                "summary": "Create Zoom OAuth Connection",
                "description": "Exchanges a Zoom OAuth authorization code for access and refresh tokens, retrieves the Zoom user's profile, and stores the connection for managed OBF token generation. The authorization code is obtained by directing a Zoom user through the OAuth consent flow for your Zoom OAuth app. Once stored, you can reference this connection's `zoom_user_id` as the `zoom_obf_token_user_id` parameter when creating a bot, and the system will automatically fetch a fresh OBF token at join time. Note: the authorization code is single-use and expires in approximately 10 minutes.",
                "operationId": "create_zoom_oauth_connection",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateConnectionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Error response"
                    },
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZoomOAuthConnectionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        },
        "/zoom_oauth_connections/{uuid}": {
            "get": {
                "tags": [
                    "Zoom OAuth"
                ],
                "summary": "Get Zoom OAuth Connection",
                "description": "Retrieves a specific Zoom OAuth connection by its UUID. Returns the connection details including the Zoom user ID, account ID, connection state, and granted scopes. Sensitive token data is never included in the response.",
                "operationId": "get_zoom_oauth_connection",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZoomOAuthConnectionResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Zoom OAuth"
                ],
                "summary": "Delete Zoom OAuth Connection",
                "description": "Permanently deletes a Zoom OAuth connection by its UUID, removing all stored tokens. After deletion, bots using this connection's `zoom_user_id` as `zoom_obf_token_user_id` will no longer be able to automatically fetch OBF tokens. The Zoom user would need to re-authorize to create a new connection.",
                "operationId": "delete_zoom_oauth_connection",
                "parameters": [
                    {
                        "in": "path",
                        "name": "uuid",
                        "description": "The UUID identifier",
                        "required": true,
                        "schema": {
                            "description": "The UUID identifier",
                            "type": "string"
                        },
                        "style": "simple"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Error response"
                    },
                    "204": {
                        "description": "no content"
                    }
                },
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "x-meeting-baas-api-key",
                "description": "API key for authentication"
            }
        },
        "schemas": {
            "Account": {
                "description": "This structure represents the user's account information.",
                "type": "object",
                "required": [
                    "created_at",
                    "email",
                    "id",
                    "secret",
                    "status"
                ],
                "properties": {
                    "company_name": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/SystemTime"
                    },
                    "email": {
                        "type": "string"
                    },
                    "firstname": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "lastname": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "phone": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "secret": {
                        "type": "string"
                    },
                    "status": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "AccountInfos": {
                "description": "Structure consisting account information.",
                "type": "object",
                "required": [
                    "account"
                ],
                "properties": {
                    "account": {
                        "$ref": "#/components/schemas/Account"
                    }
                }
            },
            "ApiKeyResponse": {
                "type": "object",
                "required": [
                    "api_key"
                ],
                "properties": {
                    "api_key": {
                        "type": "string"
                    }
                }
            },
            "Attendee": {
                "type": "object",
                "required": [
                    "email"
                ],
                "properties": {
                    "email": {
                        "description": "The email address of the meeting attendee",
                        "type": "string"
                    },
                    "name": {
                        "description": "The display name of the attendee if available from the calendar provider (Google, Microsoft)",
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "AudioFile": {
                "type": "object",
                "required": [
                    "file_extension",
                    "file_type",
                    "filename"
                ],
                "properties": {
                    "file_extension": {
                        "type": "string"
                    },
                    "file_type": {
                        "type": "string"
                    },
                    "filename": {
                        "type": "string"
                    }
                }
            },
            "AudioFrequency": {
                "type": "string",
                "enum": [
                    "16khz",
                    "24khz"
                ]
            },
            "AutomaticLeaveRequest": {
                "type": "object",
                "properties": {
                    "noone_joined_timeout": {
                        "description": "The timeout in seconds for the bot to wait for participants to join before leaving the meeting, defaults to 600 seconds (10 minutes). Minimum: 120 seconds (2 minutes). Maximum: 1800 seconds (30 minutes). When a bot first joins a meeting, it uses this timeout to determine if any participants have joined. If no participants are detected within this period, the bot will leave the meeting. Once participants are detected, the silence_timeout takes over. Applies to Google Meet and Microsoft Teams only.",
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "uint32",
                        "minimum": 0
                    },
                    "silence_timeout": {
                        "description": "The timeout in seconds for the bot to leave the meeting if no speaker activity is detected, defaults to 600 seconds (10 minutes). Minimum: 300 seconds (5 minutes). Maximum: 1800 seconds (30 minutes). This timeout becomes active after participants are detected. The bot monitors for audio activity, and if no sound is detected for the duration of this timeout, it will automatically leave the meeting. Important: Configure these timeouts carefully to ensure the bot doesn't leave too early - the noone_joined_timeout should be long enough to wait for late joiners, and the silence_timeout should account for intentional pauses. Applies to Google Meet and Microsoft Teams only.",
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "uint32",
                        "minimum": 0
                    },
                    "waiting_room_timeout": {
                        "description": "The timeout in seconds for the bot to wait in the waiting room before leaving the meeting, defaults to 600 seconds (10 minutes). Minimum: 120 seconds (2 minutes). Maximum: 1800 seconds (30 minutes). Note: Google Meet also has it's own waiting room timeout (about ~10 minutes). Setting a higher value for such meetings would have no effect because Google Meet will deny entry to the bot after its own timeout.",
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "uint32",
                        "minimum": 0
                    }
                }
            },
            "Bot": {
                "type": "object",
                "required": [
                    "bot",
                    "duration",
                    "params"
                ],
                "properties": {
                    "bot": {
                        "$ref": "#/components/schemas/Bot2"
                    },
                    "duration": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "params": {
                        "$ref": "#/components/schemas/BotParam"
                    }
                }
            },
            "Bot2": {
                "type": "object",
                "required": [
                    "account_id",
                    "bot_exited_at",
                    "bot_joined_at",
                    "bot_param_id",
                    "created_at",
                    "diarization_v2",
                    "ended_at",
                    "id",
                    "meeting_url",
                    "mp4_s3_path",
                    "reserved",
                    "uuid"
                ],
                "properties": {
                    "account_id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "bot_exited_at": {
                        "$ref": "#/components/schemas/OptionalDateTime"
                    },
                    "bot_joined_at": {
                        "$ref": "#/components/schemas/OptionalDateTime"
                    },
                    "bot_param_id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "created_at": {
                        "$ref": "#/components/schemas/DateTime"
                    },
                    "diarization_fails": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "diarization_v2": {
                        "type": "boolean"
                    },
                    "ended_at": {
                        "$ref": "#/components/schemas/OptionalDateTime"
                    },
                    "errors": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "event_id": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "meeting_url": {
                        "type": "string"
                    },
                    "mp4_s3_path": {
                        "type": "string"
                    },
                    "reserved": {
                        "type": "boolean"
                    },
                    "scheduled_bot_id": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "session_id": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "transcription_fails": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "transcription_payloads": true,
                    "user_reported_error": true,
                    "uuid": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "BotCrashedQuery": {
                "type": "object",
                "required": [
                    "bot_uuid"
                ],
                "properties": {
                    "bot_uuid": {
                        "type": "string"
                    }
                }
            },
            "BotCrashedRequest": {
                "type": "object",
                "required": [
                    "crashReason"
                ],
                "properties": {
                    "crashReason": {
                        "type": "string"
                    },
                    "efsManifest": {
                        "type": [
                            "array",
                            "null"
                        ],
                        "items": {
                            "$ref": "#/components/schemas/EfsManifestEntry"
                        }
                    },
                    "exitCode": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "signal": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    }
                }
            },
            "BotData": {
                "type": "object",
                "required": [
                    "bot",
                    "transcripts"
                ],
                "properties": {
                    "bot": {
                        "$ref": "#/components/schemas/BotWithParams"
                    },
                    "event_uuid": {
                        "description": "UUID of the calendar event (if this bot was created from an event)",
                        "type": [
                            "string",
                            "null"
                        ],
                        "format": "uuid"
                    },
                    "transcripts": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Transcript"
                        }
                    }
                }
            },
            "BotPagined": {
                "description": "Paginated bot results with status information\n\nThis response includes bots with their status information and pagination metadata to support loading additional results.\n\nThe bots are automatically sorted by status priority (critical issues first).",
                "type": "object",
                "required": [
                    "bots",
                    "has_more"
                ],
                "properties": {
                    "bots": {
                        "description": "List of bots with status information, sorted by priority",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BotWithStatus"
                        }
                    },
                    "has_more": {
                        "description": "Whether there are more results available at the next offset",
                        "type": "boolean"
                    }
                }
            },
            "BotParam": {
                "type": "object",
                "required": [
                    "bot_name",
                    "extra",
                    "transcription_custom_parameters",
                    "webhook_url"
                ],
                "properties": {
                    "bot_image": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "bot_name": {
                        "type": "string"
                    },
                    "deduplication_key": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "enter_message": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "extra": {
                        "$ref": "#/components/schemas/Extra"
                    },
                    "noone_joined_timeout": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "recording_mode": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/RecordingMode"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "speech_to_text_api_key": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "speech_to_text_provider": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SpeechToTextProvider"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "streaming_audio_frequency": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AudioFrequency"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "streaming_input": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "streaming_output": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "transcription_custom_parameters": {
                        "$ref": "#/components/schemas/Extra"
                    },
                    "waiting_room_timeout": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "webhook_url": {
                        "type": "string"
                    },
                    "zoom_access_token_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token_user_id": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_sdk_id": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_sdk_pwd": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "BotParam2": {
                "type": "object",
                "required": [
                    "bot_name"
                ],
                "properties": {
                    "bot_image": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "bot_name": {
                        "type": "string"
                    },
                    "deduplication_key": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "enter_message": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "extra": {
                        "default": null,
                        "$ref": "#/components/schemas/Extra"
                    },
                    "noone_joined_timeout": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "recording_mode": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/RecordingMode"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "silence_timeout": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "speech_to_text": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/SpeechToText"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "streaming_audio_frequency": {
                        "anyOf": [
                            {
                                "$ref": "#/components/schemas/AudioFrequency"
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "streaming_input": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "streaming_output": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "transcription_custom_parameters": {
                        "default": null,
                        "$ref": "#/components/schemas/Extra"
                    },
                    "waiting_room_timeout": {
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "webhook_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_access_token_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token_url": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token_user_id": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_sdk_id": {
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_sdk_pwd": {
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "BotParam3": {
                "type": "object",
                "properties": {
                    "bot_image": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "bot_name": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "deduplication_key": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "enter_message": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "extra": {
                        "default": null
                    },
                    "noone_joined_timeout": {
                        "default": null,
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "recording_mode": {
                        "anyOf": [
                            {
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/RecordingMode"
                                    },
                                    {
                                        "type": "null"
                                    }
                                ]
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "speech_to_text": {
                        "default": null,
                        "anyOf": [
                            {
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/SpeechToText"
                                    },
                                    {
                                        "type": "null"
                                    }
                                ]
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "streaming_audio_frequency": {
                        "default": null,
                        "anyOf": [
                            {
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/AudioFrequency"
                                    },
                                    {
                                        "type": "null"
                                    }
                                ]
                            },
                            {
                                "type": "null"
                            }
                        ]
                    },
                    "streaming_input": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "streaming_output": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "transcription_custom_parameters": {
                        "default": null
                    },
                    "waiting_room_timeout": {
                        "default": null,
                        "type": [
                            "integer",
                            "null"
                        ],
                        "format": "int32"
                    },
                    "webhook_url": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_access_token_url": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token_url": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_obf_token_user_id": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_sdk_id": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    },
                    "zoom_sdk_pwd": {
                        "default": null,
                        "type": [
                            "string",
                            "null"
                        ]
                    }
                }
            },
            "BotStatusResponse": {
[...]
